html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #829cbc;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', sans-serif;
    color: #1d3461;
}

.header {
    text-align: center;
    font-size: 38px;
}

h1 {
    margin-bottom: 0;
    color: #1d3461;
    font-weight: bolder;
}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container {
    border: 3px solid #1d3461;
    width: 520px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 200px;
}

.placeholder {
    width: 200px;
}

button {
    font-size: 18px;
    padding: 14px;
    color: #1d3461;
    border: 1px solid #1d3461;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #376996;
    color: white;
}

input:hover {
    cursor: pointer;
}

#colorPicker {
    border: none;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 60px;
}

#slider {
    width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 16px;
    gap: 4px;
}

a {
    text-decoration: none;
    font-family: 'Bungee', sans-serif;
    color: #1d3461;
}
